.playfair-display {
  font-family: "Playfair Display", serif;
}

html {
  box-sizing: border-box;
}

*,
*: ::after,
*: ::before {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #1b1b1b;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 30;
}
